﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    @Scripts.Render("~/bundles/modernizr")
    @*<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-86180447-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 991640638;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/991640638/?guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '364890053843447');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=364890053843447&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->*@
    @{
        var lang = Request.Url.ToString().Contains("/ar/") ? "ar" : "en";
    }
</head>
<body>
    <div class="top-badge top-badge-bg @Resource.TopBadgeBg hidden-xs"></div>
    <div class="navbar navbar-fixed-top">
        <div class="container topbarbg">
            <div class="navbar-header nopadding-mob" style="padding-left:20%;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Users")
                {
                    <span class="navbar-brand logocontainer"></span>
                }
                else if (Request.IsAuthenticated && User.IsInRole("AdminUser"))
                {
                    <span class="navbar-brand logocontainer"></span>
                }
                else if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Stores")
                {
                    <span class="navbar-brand logocontainer"></span>
                }
                else
                {
                    @Html.ActionLink("D", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logocontainer" })
                }
            </div>
            <div class="navbar-collapse collapse nopadding">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content maincontent">
        @RenderBody()
        <div class="clearfix h60 hidden-xs"></div>
        <div class="clearfix h30 visible-xs"></div>
    </div>
    <footer class="footercontainer bottombarbg text-center">
        <p class="fs-25 h30 nomargin">Bebejunior &copy; @DateTime.Now.Year</p>
        <div class="notice">
            <p class="hidden-xs fs-20" style="font-weight:bold; float:right">
                Important notice: Breast feeding is the best for babies as per recommendation of WHO<br />DNAO BA16-168
            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    <script>
        var lang = '@lang';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
