﻿@using Microsoft.AspNet.Identity
@if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Stores" || HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() =="Users")
	{
        
    }
else if (Request.IsAuthenticated && User.IsInRole("Registered"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            <li>
                @Html.MenuItem(@Resource.Menu_MyVouchers, "MyVouchers", "Coupons")
            </li>
            <li>@Html.MenuItem(@Resource.Menu_AboutUs, "AboutUs", "Generic")</li>
            <li>@Html.MenuItem(@Resource.Menu_HowItWorks, "HowItWorks", "Generic")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.Menu_Logout</a></li>
            <li>
                @if (CultureHelper.IsArabic())
                {
                    @Html.ActionLink("English", "SetCulture", "Generic", new { culture = "en" }, null)
                }
                else
                {
                    @Html.ActionLink("العربية", "SetCulture", "Generic", new { culture = "ar" }, null)
                }
            </li>
        </ul>
    }
}
else if (Request.IsAuthenticated && User.IsInRole("AdminUser"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav admin-nav">
            <li>@Html.MenuItem(@Resource.Menu_RegisteredUsers, "Index", "Consumers")</li>
            <li>@Html.MenuItem(@Resource.Menu_RedeemedCoupons, "RedeemedCoupons", "Coupons")</li>
            <li>@Html.MenuItem(@Resource.Menu_Rewards, "Index", "Rewards")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.Menu_Logout</a></li>
        </ul>
    }
}
 
else
{
    <ul class="nav navbar-nav">
        <li>@Html.MenuItem(@Resource.Menu_Register, "RegisterPage", "Consumers")</li>
        <li>@Html.MenuItem(@Resource.Menu_Login, "LoginPage", "Consumers")</li>
        <li>@Html.MenuItem(@Resource.Menu_AboutUs, "AboutUs", "Generic")</li>
        <li>@Html.MenuItem(@Resource.Menu_HowItWorks, "HowItWorks", "Generic")</li>
        <li>
            @if (CultureHelper.IsArabic())
            {
                @Html.ActionLink("English", "SetCulture", "Generic", new { culture = "en" }, null)
            }
            else
            {
                @Html.ActionLink("العربية", "SetCulture", "Generic", new { culture = "ar" }, null)
            }
        </li>
    </ul>
}
