﻿@{
    ViewBag.Title = "About Us";
}
<div class="white-bg fs-35">
    <div class="clearfix h20">
    </div>
    <div class="row">
        @*<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <img src="/Content/img/baby.png" class="nopadding-mob col-xs-12 col-md-12 col-lg-12">
        </div>*@
        <div class="col-xs-12">
            @*<div class="clearfix h40 visible-xs visible-sm">
            </div>*@
            <div class="fs-18 col-xs-12">
               <span style="color:darkblue"> @Resource.AboutUsBody </span>
            </div>
        </div>
    </div>
</div>