﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="clearfix h30"></div>
<h1 class="text-danger">WOW!</h1>
@*<div class="clearfix h20"></div>*@
<h2 class="text-danger">Unfortunately, there are no rewards here :(</h2>
@*<div class="clearfix h10"></div>*@
<h2 class="text-danger">We belive you are here by mistake.</h2>
@*<div class="clearfix h10"></div>*@
<h2>@Html.ActionLink("Home Page", "Index", "Home")</h2>

