﻿
@{
    ViewBag.Title = "HowItWorks";
}
<div class="white-bg fs-35">
    @*<div class="clearfix h20">
    </div>*@
    <div class="row">
        @*<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="/Content/img/baby.png" class="nopadding-mob col-xs-12 col-md-12 col-lg-12">
            </div>*@
        <div class="col-xs-12">
            <div class="clearfix h10 visible-xs"></div>
            <div class="fs-18 col-xs-12">
                <span style="color:darkblue">
                    <ol type="1" style="padding-left:30px">
                        <li>
                            @Resource.HowItWorksStep1
                        </li>
                        <li>
                            @Resource.HowItWorksStep2_1 <a href="http://@Resource.HowItWorksStep2_2" target="_blank">@Resource.HowItWorksStep2_2</a> @Resource.HowItWorksStep2_3
                        </li>
                        <li>
                            @Resource.HowItWorksStep3
                        </li>
                        <li>
                            @Resource.HowItWorksStep4
                        </li>
                        <li>
                            @Resource.HowItWorksStep5
                        </li>
                    </ol>
                </span>
            </div>
        </div>
    </div>
</div>

