﻿@model  PagedList.IPagedList<DanoneRewards.ViewModels.RegisteredConsumers>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    var tempList = ViewBag.regCons;
    var cityVal = TempData.Peek("CityFilter") == null ? "" : TempData["CityFilter"].ToString();
    var areaVal = TempData.Peek("AreaFilter") == null ? "" : TempData["AreaFilter"].ToString();
}
<div class="whitebg padding-20 fs-20" style="margin-top: -20px;">
    @using (Html.BeginForm("Index", "Consumers", FormMethod.Get))
    {
        <div>
            Coupons More Than : @Html.TextBox("CouponNum", ViewBag.CurrentFilter as string, htmlAttributes: new { @type = "number", min = "0" })
            Find by Area
            <select name="City" id="City" placeholder="Phantasyland">
                <option value=""></option>
                <option value="Cairo">Cairo</option>
                <option value="Giza">Giza</option>
                <option value="Alexandria">Alexandria </option>
                <option value="Aswan">Aswan</option>
                <option value="Asyut">Asyut</option>
                <option value="Luxor">Luxor</option>
                <option value="Ismailia">Ismailia</option>
                <option value="Red Sea">Red Sea</option>
                <option value="Beheira">Beheira</option>
                <option value="Dakahlia">Dakahlia</option>
                <option value="Suez">Suez</option>
                <option value="Sharqia">Sharqia</option>
                <option value="Gharbia">Gharbia</option>
                <option value="Fayoum">Fayoum</option>
                <option value="Qalyubia">Qalyubia</option>
                <option value="Monufia">Monufia</option>
                <option value="Minya">Minya</option>
                <option value="New Valley">New Valley</option>
                <option value="Beni Suef">Beni Suef</option>
                <option value="Port Said">Port Said</option>
                <option value="South Sinai">South Sinai </option>
                <option value="Damietta">Damietta</option>
                <option value="Sohag">Sohag</option>
                <option value="North Sinai">North Sinai</option>
                <option value="Qena">Qena</option>
                <option value="Kafr al-Sheikh">Kafr al-Sheikh</option>
                <option value="Matruh">Matruh</option>
            </select>
            <select id="Area" name="Area" placeholder="Anycity"></select>
            <input type="submit" value="Search" />
            @Html.ActionLink("| Export Users To Excel", "ExportCsv")
            @Html.ActionLink("| Draw", "DrawReward", "Rewards")
        </div>
    }
    <div class="clearfix h20"></div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new
           {
               SortOrder = ViewBag.NameSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("ChildName", "Index", new
           {
               SortOrder = ViewBag.ChildNameSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("ChildAge", "Index", new
           {
               SortOrder = ViewBag.ChildAgeSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("City", "Index", new
           {
               SortOrder = ViewBag.CitySortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("Area", "Index", new
           {
               SortOrder = ViewBag.AreaSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("DoctorName", "Index", new
           {
               SortOrder = ViewBag.DoctorNameSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("StoreName", "Index", new
           {
               SortOrder = ViewBag.StoreNameSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("Coupons", "Index", new
           {
               SortOrder = ViewBag.CouponNumSortParm,
               CouponNum = TempData["CouponNumFilter"] == null ? "" : TempData["CouponNumFilter"].ToString(),
               Area = TempData["AreaFilter"] == null ? "" : TempData["AreaFilter"].ToString(),
               City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
           })
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.ChildName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.ChildAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerModel.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponsNum)
        </td>
    </tr>
        }
    </table>
    <div class="pagecount">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.Count -- Total users @TempData["NumberOfConsumers"]
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new
                    {
                        page,
                        SortOrder = TempData.Peek("RegisteredSortOrder") == null ? "" : TempData.Peek("RegisteredSortOrder").ToString(),
                        CouponNum = TempData.Peek("CouponNumFilter") == null ? "" : TempData.Peek("CouponNumFilter").ToString(),
                        Area = TempData.Peek("AreaFilter") == null ? "" : TempData.Peek("AreaFilter").ToString(),
                        City = TempData.Peek("CityFilter") == null ? "" : TempData.Peek("CityFilter").ToString()
                    }))
</div>
@section Scripts {
    <script>
        jQuery(function ($) {
            var locations = {
                'Aswan': ['', 'Abou al-Reish', 'Abou Simbel', 'Edfu', 'Basiliah', 'Rdesiah', 'Sebaeiah', 'Daraw', 'Sahara', 'Kalabsha', 'Kom Ombo', 'Aswan City', 'Nasr al-Noba'],
                'Asyut': ['', 'Abnub', 'Abu Teeg', 'Badari', 'Ghanayem', 'Fateh', 'Qusiya', 'Dairut', 'Sahel Selim', 'Sedfa', 'Asyut City', 'Manfalut'],
                'Luxor': ['', 'Armant', 'Isna', 'Bayadeya', 'Zinnia', 'Tod', 'Qurna', 'Luxor City'],
                'Alexandria': ['', 'Abu Qir', 'Azarita', 'Alexandria', 'Gomrok', 'Al Hadrah', 'Dekheila', 'Seyouf', 'Salehia', 'Dhahria', 'Amreya', 'Asafra', 'Attarin', 'Awayed', 'Kabbary', 'Labban', 'Maamoura', 'El Max', 'Montazah', 'Mandara', 'Manshiyya', 'Nakheel', 'Nozha', 'Wardian', 'Bacchus', 'Bahray - Anfoshy', 'Borg al-Arab', 'Bolkly', 'Glim', 'Gianaclis', 'Ras El Tin', 'Zezenia', 'Saba Pasha', 'San Stefano', 'Sporting', 'Stanley', 'Smoha', 'Sidi Beshr', 'Sidi Gaber', 'Shatby', 'Schutz', 'Tosson', 'Agami', 'Fleming', 'Victoria', 'Camp Caesar', 'Karmous', 'Kafr Abdo', 'Cleopatra', 'Koum al-Dikka', 'Laurent', 'Moharam Bik', 'Raml Station', 'Miami', 'Mina al-Basal'],
                'Ismailia': ['', 'Abu Swear', 'Tal al-Kebeer', 'Qassaseen', 'Kantara East', 'Kantara West', 'Fayed', 'Ismailia City'],
                'Red Sea': ['', 'Hurghada', 'Qusair', 'Ras Gharib', 'Safaga', 'Shalateen', 'Marsa Alam'],
                'Beheira': ['', 'Abuu al-Matamer', 'Abou Homs', 'Edko', 'Delengat', 'Rahmaniya', 'Mahmoudiyah', 'Nubariyah', 'Etay al-Barud', 'Badr', 'Hosh Essa', 'Damanhour', 'Rashid', 'Shubrakhit', 'Kafr al-Dawwar', 'Kom Hamadah', 'Wadi al-Natrun'],
                'Giza': ['', '6th of October', 'Abu Rawash', 'Oseem', 'Imbaba', 'Badrasheen', 'Baragil', 'Haraneya', 'Hawamdeya', 'Dokki', 'Remaia', 'Sheikh Zayed', 'Sahafieen', 'Saf', 'Agouza', 'Azizia', 'Omrania', 'Pharaonic Village', 'Kit Kat', 'Mansuriyya', 'Moneeb', 'Mohandessin', 'Haram', 'Warraq', 'Bashtil', 'Boulaq Dakrour', 'Tersa', 'Dahab Island and Coldair', 'Hadayek al-Ahram', 'Giza District', 'Dahshur', 'Sakyet Mekky', 'Saqqara', 'Souk al-Ahad', 'Saft', 'Faisal', 'Kerdasa', 'Kafr Tohormos', 'Markaz al-Giza', 'Mit Oqba', 'Nahia'],
                'Dakahlia': ['', 'Aga', 'Akhtab', 'Gamaleya', 'Sinbillawain', 'Matareya', 'Manzala', 'Mansura', 'Belqas', 'Bani Ubayd', 'Tama al-Amdeed', 'Gamasa', 'Dikirnis', 'Shirbin', 'Talkha', 'Minat al-Nasr', 'Mit Slseel', 'Mit Ghamr', 'Nabaruh'],
                'Suez': ['', 'Ain Sukhna', 'Ganayen', 'Arbaeen', 'Suez District', 'Attaka', 'Faisal'],
                'Sharqia': ['', 'Abu Hammad', 'Abu Kabir', 'Awlad Saqr', 'Ibrahemyah', 'Husseiniya', 'Zagazig', 'New Salhia', '10th of Ramadan', 'Qareen', 'Alqnayat', 'Bilbeis', 'Deyerb Negm', 'Faqous', 'Kafr Saqr', 'Mashtool al-Souk', 'Minya al-Qamh', 'Hihya'],
                'Gharbia': ['', 'Santa', 'Mahalla al-Kobra', 'Basyoun', 'Zefta', 'Samanoud', 'Tanta', 'Qutour', 'Kafr al-Zayat'],
                'Fayoum': ['', 'Atssa', 'Ibshway', 'New Fayoum', 'Sinnuras', 'Tamiya', 'Fayoum City', 'Yusuf al-Sadiq'],
                'Cairo': ['', 'Abasiya', 'Obour City', 'Ataba', 'Cairo', 'New Cairo', 'Katameya', 'Marg', 'Matareya', 'Maadi', 'Masara', 'Mokattam', 'Mounira al-Gadeda', 'Moski', 'Nozha', 'Waili', 'Bab al-Shereia', 'Boulaq', 'Garden City', 'Hadayek al-Kobba', 'Helwan', 'Dar al-Salaam', 'Ramses + Ramses Extension', 'Rod al-Farag', 'Shubra', 'Sheraton', 'Tura', 'Ain Shams', 'Qasr al-Nil', 'Rehab City', 'Salam City', 'Shorouk City', 'Badr City', 'Nasr City', 'Madinaty', 'Heliopolis', 'Masr al-Kadema', 'Downtown Cairo', 'Basateen', 'Tebeen', 'First Settlement ', 'Fifth Settlement', 'Gamaleya', 'Helmeya', 'Helmeya al-Gadeda', 'Khalifa', 'Darrasa', 'Darb al-Ahmar', 'Roda', 'Zawya al-Hamra', 'Zamalek', 'Zaytoun', 'Sahel', 'Sayeda Zeinab', 'Sharabeya', '10th Ramadan City'],
                'Qalyubia': ['', 'Khanka', 'Khosous', 'El Ubour', 'Qanater al-Khairia', 'Banha', 'Bahtim', 'Shubra al-Khaimah', 'Shebin al-Qanater', 'Tookh', 'Qalyub', 'Qaha', 'Kafr Shukr'],
                'Monufia': ['', 'Ashmon', 'Bagour', 'Sadat', 'Shohadaa', 'Berket al-Sabaa', 'Tala', 'Sers al-Lyan', 'Shebin al-Koum', 'Quesna', 'Menouf'],
                'Minya': ['', 'Abu Qurqas', 'Adwa', 'New Minya', 'Beni Mazar', 'Deir Mawas', 'Samalut', 'Minya City', 'Matay', 'Maghagha', 'Malawi'],
                'New Valley': ['', 'Kharga', 'Dakhla', 'Farafra', 'Paris', 'Balat', 'Mut'],
                'Beni Suef': ['', 'Ehnasia', 'Al Feshn', 'Al Wasty', 'Beba', 'New Beni Suef', 'Samasta', 'Beni Suef City', 'Nasser'],
                'Port Said': ['', 'Ganoub District', 'Zohour District', 'Sharq District', 'Dawahy District', 'Arab District', 'Manakh District', 'Port Fouad'],
                'South Sinai': ['', 'Abu Rudeis', 'Abu Zenimah', 'Dahab', 'Ras Sidr', 'St. Catherine', 'Sharm al-Sheikh', 'Taba', 'Tor Sinai', 'Nuweiba'],
                'Damietta': ['', 'Rodah', 'Zarqa', 'Saro', 'New Damietta', 'Ras al-Bar', 'Ezbet al-Burj', 'Fareskour', 'Kafr al-Bateekh', 'Kafr Saad', 'Damietta City', 'Mit Abughalb'],
                'Sohag': ['', 'Akhmim', 'Baliana', 'Alasirat', 'Maragha', 'Monshaa', 'Girga', 'Juhaynah', 'Dar es-Salam', 'Sakaltah', 'Tama', 'Tahta', 'Sohag City'],
                'North Sinai': ['', 'Hasana', 'Sheikh Zoweyd', 'Arish', 'Bir al-Abed', 'Rafah', 'Nakhl'],
                'Qena': ['', 'Abu Tisht', 'Wakf', 'Shna', 'Farshout', 'Keft', 'Quos', 'Qena City', 'Nag Hammadi', 'Nakada'],
                'Kafr al-Sheikh': ['', 'Brolos', 'Hamoul', 'Riyadh', 'Bella', 'Desouk', 'Sidi Salem', 'Fouh', 'Qaleen', 'Kafr al-Sheikh City', 'Motobas'],
                'Matruh': ['', 'Hammam', 'Salloum', 'Dabaa', 'Alamein', 'Nagela', 'Barany', 'Siwa', 'Marsa Matrouh'],
            }
            $('#City').change(function () {
                updateAreasByCity(this, '#Area');
            });

            function updateAreasByCity(cityElement, areaElement) {

                var country = $(cityElement).val(), lcns = locations[country] || [];

                var html = $.map(lcns, function (lcn) {
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                }).join('');
                $(areaElement).html(html)
            }
            var cityVal = '@cityVal';
            var areaVal = '@areaVal';
            if (cityVal != '') {
                $('#City').val(cityVal);
            }
            updateAreasByCity('#City', '#Area');
            if (areaVal != '') {
                $('#Area').val(areaVal);
            }
        });
    </script>
}