﻿@using DanoneRewards.Models
@model ConsumerLoginRegister
@{
    ViewBag.Title = "LoginPage";
}
@section Scripts {
    @Scripts.Render("~/Scripts/FacebookScript.js")
}
<div class="content-bg fs-30 col-xs-12">
    <div class="degp-badge">
        <img src="/Content/img/badge.png" class="visible-lg visible-md" />
        <img src="/Content/img/badgesmall.png" class="visible-xs visible-sm" />
    </div>
    <div class="row">
        <div>
            <section id=" loginform">
                @using (Html.BeginForm("Login", "Consumers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="clearfix h50 visible-xs visible-md visible-lg">
                    </div>
                    <div class="clearfix h30 visible-sm">
                    </div>
                    <h1 class="fs-25">@Resource.Login</h1>
                    <div class="clearfix h10">
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                            @Html.TextBoxFor(m => m.ObjLoginViewModel.Email, new { placeholder = @Resource.Email, @class = "brandedtext" })
                            @Html.ValidationMessageFor(m => m.ObjLoginViewModel.Email, "", new { @class = "text-danger" })
                    </div>
                    </div>
                    <div class="clearfix h10">
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                            @Html.PasswordFor(m => m.ObjLoginViewModel.Password, new { placeholder = @Resource.Password, @class = "brandedtext" })
                            @Html.ValidationMessageFor(m => m.ObjLoginViewModel.Password, "", new { @class = "text-danger" })
                            @if (TempData["LoginError"] != null && TempData["LoginError"].ToString() == "LoginError")
                            {
                                <div class="clearfix h10">
                                </div>
                                <div class="bad-login" style="">@Resource.InvalidUserName</div>
                            }
                        </div>
                    </div>
                    <div class="clearfix h10">
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 visible-md visible-lg fs-20 login-link">
                            @Html.ActionLink(Resource.ForgotPassword, "Create", "ConsumerForgetPasswords")
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 fs-16 visible-xs login-link">
                            @Html.ActionLink("Forgot password? ", "Create", "ConsumerForgetPasswords")
                        </div>
                    </div>
                    <div class="clearfix h10">
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                            <input type="submit" value="@Resource.Login" class="login brandedbutton" />
                        </div>
                    </div>
                    <div class="clearfix h10">
                    </div>
                    <div class="row">
                        <div class="or-div-container col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                            <div class="or-div">
                                <h1 class="fs-25">
                                    @Resource.OR
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#" class="col-xs-12 col-sm-4 col-sm-offset-4" onclick="FBLogin()">
                            <img src="/Content/img/fb-login-thin.png" class="img-responsive margin0auto" style="width:80%;" />
                        </a>
                    </div>
                    <div class="clearfix h30 visible-xs visible-sm">
                    </div>
                }
            </section>
        </div>
    </div>
</div>
