﻿@using DanoneRewards.Models
@model ConsumerLoginRegister
@{
    ViewBag.Title = "RegisterPage";
}
@section Scripts {
    @Scripts.Render("~/Scripts/FacebookScript.js")
}
<div>
    <div class="content-bg">
        <div class="degp-badge">
            <img src="/Content/img/badge.png" class="visible-lg visible-md" />
            <img src="/Content/img/badgesmall.png" class="visible-xs visible-sm" />
        </div>
        @using (Html.BeginForm("ContinueToRegestraion", "Consumers", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            <div class="clearfix h50 visible-xs visible-md visible-lg">
            </div>
            <div class="clearfix h30 visible-sm">
            </div>
            <h1 class="fs-25 inline">@Resource.Register</h1><span class="mandatory fs-40"> *</span>
            <div class="clearfix h15">
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                    @Html.TextBoxFor(m => m.ObjRegisterViewModel.Name, new { placeholder = @Resource.Name, @class = "brandedtext" })
                    @Html.ValidationMessageFor(m => m.ObjRegisterViewModel.Name, "", new { @class = "text-danger" })
                </div>
                @*<div class="col-sm-1 mandatory fs-40 mandatory-field">*</div>*@
            </div>
            <div class="clearfix h15">
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                    @Html.TextBoxFor(m => m.ObjRegisterViewModel.Email, new { placeholder = @Resource.Email, @class = "brandedtext" })
                    @Html.ValidationMessageFor(m => m.ObjRegisterViewModel.Email, "", new { @class = "text-danger" })
                </div>
                @*<div class="col-sm-1 mandatory fs-40 mandatory-field">*</div>*@
            </div>
            <div class="clearfix h15">
            </div> 
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                    @Html.PasswordFor(m => m.ObjRegisterViewModel.Password, new { placeholder = @Resource.Password, @class = "brandedtext" })
                    @Html.ValidationMessageFor(m => m.ObjRegisterViewModel.Password, "", new { @class = "text-danger" })
                </div>
                @*<div class="col-sm-1 mandatory fs-40 mandatory-field">*</div>*@
            </div>
            <div class="clearfix h15">
            </div> 
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                    @Html.TextBoxFor(m => m.ObjRegisterViewModel.Mobile, new { placeholder = @Resource.Mobile, @class = "brandedtext" })
                    @Html.ValidationMessageFor(m => m.ObjRegisterViewModel.Mobile, "", new { @class = "text-danger" })
                </div>
                @*<div class="col-sm-1 mandatory fs-40 mandatory-field">*</div>*@
            </div>
            <div class="clearfix h10"></div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 mandatory-block fs-16">
                    <span class="mandatory">*</span> @Resource.mandatory_indicate
                </div>
            </div>
            <div class="clearfix h10"></div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                    <input type="submit" value="@Resource.Continue" class="register button brandedbutton" />
                </div>
            </div>
            <div class="clearfix h30">
            </div>
        }
    </div>
</div>