﻿@model DanoneRewards.Models.Consumer

@{
    ViewBag.Title = "ResetPassword";
}

@using (Html.BeginForm("ResetPasswordValidation", "Consumers"))
{
    <div class="form-horizontal whitebg text-center">
        <div class="row">
            <div class="col-xs-12">
                <h2>@Resource.ResetPassword</h2>
            </div>
        </div>
        <div class="clearfix h30">
        </div>
        @if (TempData.Peek("ResetCodeValidation") == null)
        {
            <p class="lead" style="color:darkred">Page Not Found 404</p>
        }
        else if (TempData.Peek("ResetCodeValidation") == "Valid")
        {
            <input class="brandedtext" id="NewPassword" name="NewPassword" required placeholder="@Resource.NewPassword" />
            <div class="clearfix h30">
            </div>
            <input class="brandedtext" id="NewPasswordConfirmation" name="NewPasswordConfirmation" required placeholder="@Resource.NewPasswordConfirm" />
            <div class="clearfix h30">
            </div>
            <input type="submit" name="ResetPasswordBtn brandedbutton" class="brandedbutton sub-code" value="@Resource.ResetPassword" />
        }
        else
            if (TempData.Peek("ResetCodeValidation") == "Expired")
            {
                <p class="lead" style="color:darkred">Expired</p>
            }
            else if (TempData.Peek("ResetCodeValidation") == "404")
            {
                <p class="lead" style="color:darkred">Page Not Found 404</p>
            }
        <div class="clearfix h30">
        </div>
    </div>
}
