﻿@model DanoneRewards.Models.Coupon
@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="degp-badge">
        <img src="/Content/img/badge.png" class="visible-lg visible-md" />
        <img src="/Content/img/badgesmall.png" class="visible-xs visible-sm" />
    </div>
    <div class="content-bg col-xs-12">
        <div class="clearfix h30 visible-xs visible-md visible-lg">
        </div>
        <div class="clearfix h20 visible-md visible-lg">
        </div>
        <div class="clearfix h30 visible-sm">
        </div>
        @if ( @Resource.Bebejunior != "" && @Resource.Bebejunior.ToString() != "")
        {
        <div class="row">
            <div class="col-xs-12">
                <span style="font-weight: bold;; font-size: 14px; color: #ffde10">@Resource.Bebejunior </span> <span style="font-size:14px;color:darkblue;">@Resource.BrandMsg </span> 
            </div>
        </div>
        }
        @*<div class="clearfix h10">
        </div>*@
        <div>
            @using (Html.BeginForm("Validate", "Coupons"))
            {
                <div class="row" style="color:darkblue">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                        <span>
                            <span style="font-size:medium">@Resource.CompititionMsg </span><span style="color:#f01c49;">@Resource.CompititionPrefixEn</span>
                        </span>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                        <span style="font-size:medium"> @Resource.CompititionMsg6 </span>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                        <span style="font-size:medium"> @Resource.CompititionMsg2 </span><span style="color:#f01c49;">@Resource.CompititionPrefixAr</span>
                    </div>
                    @if (@Resource.CompititionMsg3 != "" && @Resource.CompititionMsg3.ToString() != "")
                    {
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                            <span style="font-size:medium"> @Resource.CompititionMsg3 </span>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                            <span>
                                <span style="font-size:medium"> @Resource.CompititionMsg4 </span><span style="color:#f01c49">@Resource.DiscountEn </span>
                                <span style="font-size:medium"> @Resource.CompititionMsg5 </span>
                            </span>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                            <span style="font-size:medium"> @Resource.CompititionMsg7 </span>
                            <span style="color:#f01c49">@Resource.DiscountAr </span>
                            <span style="font-size:medium"> @Resource.CompititionMsg8 </span>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                            <span style="font-size:medium"> @Resource.CompititionMsg9 </span>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12 fs-25">
                            <div class="clearfix h20">
                            </div>
                        </div>
                    }
                </div>
                <div class="clearfix h10">
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                        <input type="text" id="txt" name="couponCode" class="brandedtext" placeholder="@Resource.CouponCode" />
                    </div>
                </div>
                @*<div class="clearfix h10">
                </div>*@
                if (TempData["CouponValidation"] == "Invalid")
                {
                    @*<div class="clearfix h10">
                    </div>*@
                    <div class="row">
                        <p style="color:red" class="fs-18">@Resource.Val_Invalid_Coupon</p>
                    </div>
                }
                else if (TempData["CouponValidation"] == "Used")
                {
                    <div class="row">
                        <p style="color:red">@Resource.Val_Duplicate_Coupon</p>
                    </div>
                }
                <div class="clearfix h20"></div>

                if (Request.IsAuthenticated && User.IsInRole("Registered"))
                {
                    <div class="row nomargin">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                            <div class="col-xs-12">
                                <input type="submit" value="@Resource.Continue" class="sub-code brandedbutton" />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row text-center">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-3">
                            <input type="submit" name="SubmitButton" value="@Resource.Login" class="login brandedbutton" />
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
                            <input type="submit" name="SubmitButton" value="@Resource.Register" class="register brandedbutton" />
                        </div>
                    </div>
                }
                <div class="clearfix 10">
                </div>
            }
        </div>
    </div>
</body>
