﻿@{
    ViewBag.Title = "PrintStore";
}

<div class="whitebg padding-20">
    <div id="printable">
        <div class="row">
            <h4 class="fs-40 col-md-12"><span>@Resource.Store</span></h4>
        </div>
        <div class="clearfix h10"></div>
        <div class="row">
            <div class="col-md-2 fs-25 boldtext">
                Voucher code:
            </div>
            <div class="col-md-10 fs-25 boldtext">
                @TempData.Peek("voucherCode")
            </div>
        </div>
        <div class="clearfix h10"></div>
        <div class="row">
            <div class="col-md-2 fs-25 boldtext">
                Store code:
            </div>
            <div class="col-md-10 fs-25 boldtext">
                @TempData.Peek("storeCode")
            </div>
        </div>
        <div class="clearfix h10"></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default fs-25" onclick="printIt()">Print</button>
            @Html.ActionLink("New Voucher", "SaveStore", null, htmlAttributes: new { @class = "btn btn-default fs-25" })
        </div>
    </div>
</div>
<script type="text/javascript">
    function printIt() {
        var pageContents = $("body").html();
        $("#printable .row").css("margin-left", "15px");
        var pageContents = $("body").html();
        $("body").html($("#printable").html());
        window.print();
        window.close();
        $("body").html(pageContents);
        //var page = window.self;
        //var printPage = window.open("http://localhost:4980/en/Stores/PrintStore");
        //printPage.print();
        //printPage.onafterprint = function () {
        //    printPage.close();
        //}
        //page.history.back();
    }
</script>
