﻿@model  DanoneRewards.Controllers.StoresController.StoresMetaViewModel
<br />
<br />
<div class="whitebg padding-20">
    @using (Html.BeginForm("SaveStore", "Stores", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger fs-20" })
        <div class="form-group">
            @Html.LabelFor(model => model.VoucherCodeField, "Enter Voucher Code", htmlAttributes: new { @class = "control-label col-md-2 fs-25" })
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.VoucherCodeField, "", new { @style = "border-radius: 5px; background-color: rgba(255,192,202,1);color: #000;" })
                @Html.EditorFor(model => model.VoucherCodeField, new { htmlAttributes = new { @class = "form-control fs-25" } })
            </div>
        </div>
        <div class="clearfix h20"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.StoreCodeField, "Enter Store Code", htmlAttributes: new { @class = "control-label col-md-2 fs-25" })
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.StoreCodeField, "", new { @style = "border-radius: 5px; background-color: rgba(255,192,202,1);color: #000;" })
                @Html.EditorFor(model => model.StoreCodeField, new { htmlAttributes = new { @class = "form-control fs-25" } })
            </div>
        </div>
        <div class="clearfix h10"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default fs-25" />
            </div>
        </div>
    }
</div>
