﻿@using DanoneRewards.Models
@model AdminLoginViewModel
@{
    ViewBag.Title = "AdminLoginPage";
}

<div class="whitebg padding-20">
    <div class="clearfix h20"></div>
    <section id=" loginform">
        @using (Html.BeginForm("AdminLogin", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label fs-25" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control fs-25" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @if (TempData["InvalidUsername"] != null && TempData["InvalidUsername"].ToString() == "InvalidUsername")
                    {
                        <div style="font-size:medium; color:red">@Resource.InvalidUserName</div>
                    }
                </div>
            </div>
            <div class="clearfix h20"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label fs-25" })
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control fs-25" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox fs-20">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default fs-25" />
                </div>
            </div>

        }
    </section>
</div>