﻿@model DanoneRewards.Models.Coupon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedeemDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedeemDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CouponId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
