﻿@model IEnumerable<DanoneRewards.Models.Coupon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Generate Coupons", "GenerateCoupons", new { number = 1 })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CouponCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedeemDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedeemedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CouponCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedeemDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CouponId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CouponId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CouponId })
        </td>
    </tr>
    
    

}

</table>

