﻿@model IEnumerable<DanoneRewards.Models.Coupon>
@{
    ViewBag.Title = "MyVouchers";
}
    <div class="h15 visible-sm visible-xs">
    </div>
    <div class="whitebg fs-25">
        <div class="row">
            <div class="coupons mycoupons col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:15px;">
                <div class="coupons-img mycoupons-img coupons-img col-sm-3 col-xs-3">
                </div>
                <div class="coupons-input col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3 text-center whitetext boldtext" style="padding-top:15px;">
                    @Resource.Menu_MyVouchers
                </div>
            </div>
            <div class="coupons addcoupons col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-top:15px;">
                <div class="coupons-img addcoupons-img col-sm-3 col-xs-3">
                </div>
                <div class="coupons-input col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3 text-center whitetext" style="padding-top:15px;">
                    @Html.ActionLink(Resource.AddCoupon, "Index", "Home", null, new { @class = "whitetext boldtext" })
                </div>
            </div>
        </div>
        @*<div class="row">
            <h2 class="text-center">@Resource.Menu_MyVouchers</h2>
            
        </div>*@
        <div class="clearfix h15">
        </div>
        <div class="row">
            <table class="cp-table col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <tr>
        <th class="col-xs-7 col-sm-6">@Resource.CouponCode</th>
        <th class="col-xs-7 col-sm-6">@Resource.Voucher</th>
        <th class="col-xs-7 col-sm-6" style="font-size:medium">@Resource.CheckRedeemed</th>
        <th class="col-xs-5 col-sm-6">@Resource.Date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (item.Voucher != null)
            {
                <td class="col-xs-7 col-sm-6">@Html.ActionLink(item.CouponCode, "CouponLink", "Coupons", new { data = item.Voucher }, null)</td>
                <td class="col-xs-7 col-sm-6">@Html.ActionLink(item.Voucher, "CouponLink", "Coupons", new { data = item.Voucher }, null)</td>
                @*<td class="col-xs-6 col-sm-6">@item.Voucher.ToString()</td>*@
            }
            else
            {
                <td class="col-xs-7 col-sm-6">@Html.ActionLink(item.CouponCode, "CouponLink", "Coupons", new { data = item.Voucher }, null)</td>
                <td class="col-xs-6 col-sm-6">---- ---- ---- ----</td>
            }

            @if (item.RedeemStoreId != null)
            {
                <td class="col-xs-6 col-sm-6">@Resource.Redeemed</td>
            }
            else
            {
                <td class="col-xs-6 col-sm-6">@Resource.NotRedeemed</td>
            }
            <td class="col-xs-5 col-sm-6">@item.RedeemDate.Value.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>
        </div>
        <div class="clearfix h30">
        </div>
    </div>
