﻿@model PagedList.IPagedList<DanoneRewards.Models.Coupon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Redeemed Coupons";
    var RedeemFilter = TempData.Peek("RedeemedDropdownFilter") == null ? "" : TempData["RedeemedDropdownFilter"].ToString();
}
<div class="whitebg padding-20 fs-20" style="margin-top: -20px;">
    @using (Html.BeginForm("RedeemedCoupons", "Coupons", FormMethod.Get))
    {
        <div>
            Find by User: @Html.TextBox("RedeemedBy", ViewBag.CurrentFilter as string)
            Find By Redeemed
            <select id="RedeemedFilter" name="RedeemedFilter" placeholder="Redeemed Filter">
                <option value="All">All</option>
                <option value="Redeemed">Redeemed</option>
                <option value="NotRedeemed">Not redeemed</option>               
            </select>
            <input type="submit" value="Search" />
            @Html.ActionLink("Export to Excel", "ExportRedeemedCsv", "Coupons")
        </div>
        <div class="clearfix h20"></div>
    }

    <table class="table">
        <tr>
            <th>
                Coupon Code
            </th>
            <th>
                @Html.ActionLink("Redeem Date", "RedeemedCoupons", new
           {
               SortOrder = ViewBag.RedeemDateSortParm,
               RedeemedBy = TempData.Peek("RedeemedByFilter") == null ? "" : TempData.Peek("RedeemedByFilter").ToString(),
                RedeemedFilter = TempData.Peek("RedeemedDropdownFilter") == null ? "All" : TempData.Peek("RedeemedDropdownFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("Name", "RedeemedCoupons", new
           {
               SortOrder = ViewBag.NameSortParm,
               RedeemedBy = TempData.Peek("RedeemedByFilter") == null ? "" : TempData.Peek("RedeemedByFilter").ToString(),
                RedeemedFilter = TempData.Peek("RedeemedDropdownFilter") == null ? "All" : TempData.Peek("RedeemedDropdownFilter").ToString()
           })
            </th>

            <th>
                Voucher Code
            </th>
            <th>
                @Html.ActionLink("Redeemed Store Date", "RedeemedCoupons", new
           {
               SortOrder = ViewBag.RedeemedStoreDateSortParm,
               RedeemedBy = TempData.Peek("RedeemedByFilter") == null ? "" : TempData.Peek("RedeemedByFilter").ToString(),
               RedeemedFilter = TempData.Peek("RedeemedDropdownFilter") == null ? "All" : TempData.Peek("RedeemedDropdownFilter").ToString()
           })
            </th>


            <th>
                @Html.ActionLink("Store Name", "RedeemedCoupons", new
           {
               SortOrder = ViewBag.StoreNameSortParm,
               RedeemedBy = TempData.Peek("RedeemedByFilter") == null ? "" : TempData.Peek("RedeemedByFilter").ToString(),
               RedeemedFilter = TempData.Peek("RedeemedDropdownFilter") == null ? "All" : TempData.Peek("RedeemedDropdownFilter").ToString()
           })
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponCode)
                </td>
                <td>
                    @item.RedeemDate.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voucher)
                </td>
                <td>
                    @if (item.RedeemStoreDate.HasValue)
                    {
                        @item.RedeemStoreDate.Value.ToString("dd/MM/yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
            </tr>
        }

    </table>
    <div class="pagecount">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount -- Total Coupons @TempData["NumberOfCoupons"]
    </div>
    @Html.PagedListPager(Model, page => Url.Action("RedeemedCoupons",
            new
            {
                page,
                SortOrder = TempData.Peek("RedeemedSortOrder") == null ? "" : TempData.Peek("RedeemedSortOrder").ToString(),
                RedeemedBy = TempData.Peek("RedeemedByFilter") == null ? "" : TempData.Peek("RedeemedByFilter").ToString(),
                RedeemedFilter = TempData.Peek("RedeemedDropdownFilter") == null ? "" : TempData.Peek("RedeemedDropdownFilter").ToString()
            }))
</div>

@section Scripts {
    <script>
        jQuery(function ($) {
            var redeemFilter = '@RedeemFilter';
            if (redeemFilter != '') {
                $('#RedeemedFilter').val(redeemFilter);
            }
        });
    </script>
}