﻿@{
    ViewBag.Title = "Voucher";
}
@section Scripts {

    <script>
    $("#VoucherCodeView").text();

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1094834077229083',
            cookie: true,
            xfbml: true,
            version: 'v2.5'
        });
    };

    document.getElementById('shareBtn').onclick = function () {
        FB.ui({
            method: 'share',
            display: 'popup',
            href: '@System.Configuration.ConfigurationManager.AppSettings["FBShareLink"]',
            quote: '@System.Configuration.ConfigurationManager.AppSettings["FBShareMSG"].Replace("-USER-", User.Identity.Name)',
        }, function (response) { });
    }
    </script>
}
<div class="white-bg fs-35">
    <div class="row">
        <h1 class="col-xs-12 text-center nomargin"> @Html.ActionLink(Resource.Menu_MyVouchers, "MyVouchers", "Coupons") </h1>
        <div class="voucher col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <img src="/Content/img/girl-in-parachute.png" class="visible-lg visible-md voucherimg pull-right">
            <div class="voucher-txt col-sm-12 col-md-6 col-lg-6 col-sm-offset-0 col-xs-12">
                <div class="visible-md visible-lg">
                    <div class="clearfix h50">
                    </div>
                </div>
                <img src="/Content/img/logo.png" class="img-responsive visible-xs" />
                <img src="/Content/img/logo.png" class="hidden-xs margin0auto" />
                @using (Html.BeginForm("Voucher", "Coupon"))
                {
                    <h1 class="fs-40 boldtext visible-sm visible-lg visible-md">
                        <span style="color:#f01c49">@Resource.Congratulations</span>
                    </h1>
                    <h1 class="fs-25 boldtext visible-xs">
                        <span style="color:#f01c49">@Resource.Congratulations</span>
                    </h1>
                    <h5 class="fs-35 visible-sm visible-lg visible-md">
                        <span style="font-weight:550; font-size:medium;">@Resource.CongratulationReward</span>
                    </h5>
                    <h5 class="fs-35 visible-sm visible-lg visible-md">
                        <span style="font-weight:550; font-size:medium;">@Resource.CongratulationReward2</span>
                    </h5>
                    <h5 class="fs-35 visible-sm visible-lg visible-md">
                        <span style="font-weight:550; font-size:medium;">@Resource.CongratulationReward3</span>
                    </h5>
                    <h5 class="fs-25 visible-xs">
                        <span style="font-weight:550; font-size:medium;">@Resource.CongratulationReward</span>
                    </h5>
                    <h5 class="fs-25 visible-xs">
                        <span style="font-weight:550; font-size:medium;">@Resource.CongratulationReward2</span>
                    </h5>
                    <h5 class="fs-25 visible-xs">
                        <span style="font-weight:550; font-size:medium;">@Resource.CongratulationReward3</span>
                    </h5>
                    <div class="clearfix h10">
                    </div>
                    if (TempData.Peek("VoucherCode") == null)
                    {
                        <p style="background-image:url(../../Content/img/scratch-off-panel-card.jpg); background-size: cover; background-position: center center;  height: 39px;" align="center" id="VoucherCodeView" class="fs-30 hidden-xs"> ---- ---- ---- ----</p>
                        <p style="background-image:url(../../Content/img/scratch-off-panel-card.jpg); background-size: cover; background-position: center center;  height: 39px;" align="center" id="VoucherCodeView" class="fs-25 visible-xs"> ---- ---- ---- ----</p>
                    }
                    else
                    {
                        <p style="background-image:url(../../Content/img/scratch-off-panel-card.jpg); background-size: cover; background-position: center center;  height: 39px;" align="center" id="VoucherCodeView" class="fs-30 hidden-xs"> @TempData.Peek("VoucherCode")</p>
                        <p style="background-image:url(../../Content/img/scratch-off-panel-card.jpg); background-size: cover; background-position: center center;  height: 39px;" align="center" id="VoucherCodeView" class="fs-25 visible-xs"> @TempData.Peek("VoucherCode")</p>
                    }
                }
                <div class="clearfix h20">
                </div>
                <div id="shareBtn" class="btn btn-primary clearfix fs-25">Facebook Share</div>
            </div>
        </div>
    </div>
</div>