﻿@model DanoneRewards.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("ForgetPassword", "ConsumerForgetPasswords"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal whitebg text-center">
            <div class="row">
                <div class="col-xs-12">
                    <h2>@Resource.ResetPasswordTitle</h2>
                </div>
            </div>
            <div class="clearfix h30">
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    @*<input class="brandedtext" id="ForgetMailAddress" name="ForgetMailAddress" required placeholder="@Resource.Email" />*@
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "brandedtext", placeholder = Resource.Email, style = "max-width:100%" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="clearfix h30">
            </div>
            <div class="row">
                <div>
                    @if (TempData["CheckMail"] == "CheckMail")
                    {
                        <h4><span>@Resource.ForgetPassMSG</span></h4>
                    }
                    else
                    {
                        <input type="submit" value="@Resource.Submit" class="brandedbutton sub-code" />
                    }  
                </div>
            </div>
            <div class="clearfix h30">
            </div>
        </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
