﻿@model DanoneRewards.Models.ConsumerForgetPassword

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsumerForgetPassword</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenerationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenerationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ForgetPasswordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
