﻿@model IEnumerable<DanoneRewards.Models.ConsumerForgetPassword>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenerationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenerationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForgetPasswordId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForgetPasswordId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForgetPasswordId })
        </td>
    </tr>
}

</table>
