﻿@model DanoneRewards.Models.Reward
@{
    ViewBag.Title = "ContinueDraw";
}
<div class="clearfix h20"></div>
<div class="whitebg padding-20">
    <h2 class="nomargin">Complete the draw</h2>
    <div class="clearfix h20"></div>
    @using (Html.BeginForm("ConfirmDraw", "Rewards"))
    {
        <p class="fs-25">"@TempData.Peek("CurrentDrawWinnerName")" has won the draw</p>
        <p class="fs-18">Please Enter Message to be sent to the Winner</p>
        <div class="row nomargin">
            <textarea id="winnerMsg" name="winnerMsg" rows="6" required class="col-xs-12 col-sm-6 fs-20"></textarea>
        </div>
        <div class="clearfix h20"></div>
        <input type="submit" class="fs-20">
    }
</div>