﻿@model PagedList.IPagedList<DanoneRewards.Models.Reward>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="whitebg padding-20 fs-20" style="margin-top: -20px;">
    @using (Html.BeginForm("Index", "Rewards", FormMethod.Get))
    {
        <div>
            Search by Name : @Html.TextBox("Name", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
            @Html.ActionLink(" | Export to Excel", "ExportRwardsCsv", "Rewards")
        </div>
        <div class="clearfix h20"></div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new
           {
               SortOrder = ViewBag.NameSortParm,
               Name = TempData.Peek("NameFilter") == null ? "" : TempData.Peek("NameFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("Message", "Index", new
           {
               SortOrder = ViewBag.MessageSortParm,
               Name = TempData.Peek("NameFilter") == null ? "" : TempData.Peek("NameFilter").ToString()
           })
            </th>
            <th>
                @Html.ActionLink("GenerationDate", "Index", new
           {
               SortOrder = ViewBag.GenerationDateSortParm,
               Name = TempData.Peek("NameFilter") == null ? "" : TempData.Peek("NameFilter").ToString()
           })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenerationDate)
                </td>
            </tr>
        }

    </table>
    <div class="clearfix h10"></div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount -- Total rewards @TempData["NumberOfRewards"]

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new
            {
                page,
                SortOrder = TempData.Peek("RewardSortOrder") == null ? "" : TempData.Peek("RewardSortOrder").ToString(),
                Name = TempData.Peek("NameFilter") == null ? "" : TempData.Peek("NameFilter").ToString()
            }))
</div>