﻿.boldtext {
    font-weight: bold;
}

.fontupper {
    text-transform: uppercase;
}

.fs-12 {
    font-size: 12px!important;
}

.fs-14 {
    font-size: 14px!important;
}

.fs-16 {
    font-size: 16px!important;
}

.fs-18 {
    font-size: 18px!important;
}

.fs-20 {
    font-size: 20px!important;
}

.fs-22 {
    font-size: 22px!important;
}

.fs-25 {
    font-size: 25px!important;
}

.fs-30 {
    font-size: 30px!important;
}

.fs-40 {
    font-size: 40px!important;
}

.displaynone {
    display: none;
}

.h5px {
    height: 5px;
}

.h10 {
    height: 10px;
}

.h15 {
    height: 15px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.h60 {
    height: 60px;
}

.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px !important;
}

.margin0auto {
    margin: 0 auto;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.inline {
    display: inline!important;
}

.whitetext {
    color: #FFFFFF;
}

.whitebg
{
    background-color: #FFFFFF;
}

.positionrelative {
    position: relative;
}

.positionabsolute {
    position: absolute;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.z-8 {
    z-index: 8;
}

@media (max-width: 767px) {

    .nopadding-mob {
        padding: 0px !important;
    }

}