﻿@font-face {
    font-family: "corporate-s-regular";
    src: url("typefaces/CorporateS-Regular.otf");
}
@font-face {
    font-family: "ar-flat-regular";
    src: url("typefaces/JF-Flat-regular.ttf");
}
@font-face {
    font-family: "ar-hamah-homs";
    src: url("typefaces/AraHamahHoms-Regular.ttf");
}
@font-face {
    font-family: "mont-ulight";
    src: url("typefaces/Montserrat-UltraLight.otf");
}
@font-face {
    font-family: "aileron";
    src: url("typefaces/aileron-regular.woff");
}
@font-face {
    font-family: "ad-ar";
    src: url("fonts/AdobeArabic-Regular.otf");
}

.tf-flat {
}

.tf-hamah-homs {
}

.tf-mont-ulight {
}
/*This is just for maintaining visual appearance between pages with and without content-bg shape*/
html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical; 
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFDE2D;
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "ad-ar";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}
input.dead {
    cursor: default;
    pointer-events: none;
}
.top-phrase {
    position: relative;
    left: 15px;
    font-size: 35px;
    line-height: 30px;
    color: #0093d4;
    font-family: "ad-ar";
}
.top-badge {
    position: fixed;
    top: 0;
    right: calc(50% - 550px);
    z-index: 1100;
}
.top-badge-bg {
    width: 225px;
    height: 110px;
}
.top-badge-bg-en {
    background: url(img/badgeEn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.top-badge-bg-ar {
    background: url(img/badgeArabek.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.top-badge img {
    width: 250px;
}
.brandedtext, .brandedselect {
    width: 100%;
    height: 40px;
    padding: 3px 10px;
    border: 2px dashed black;
    font-size: 18px;
}
.mandatory-block {}
.mandatory {
    font-weight: bold;
    color: #f01c49;
}
.mandatory-field {
    margin-left: -30px;
    line-height: 40px;
}
.brandedbutton {
    width: 100%;
    height: 50px;
    padding: 0;
    color: white;
    font-size: 25px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    background-size: contain;
    background-position: center;
    border: 0;
}
    .brandedbutton p {
        margin-left: 20px;
    }
.sub-code {
    background-image: url("img/buttonbg.png");
}

.login {
    background-image: url("img/loginbtn.png");
}
.bad-login {
    font-size:18px;
    color: red;
    line-height:20px
}

.register {
    background-image: url("img/registerbtn.png");
}

.adminlogocontainer {
    background-image: url('img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 110px;
    margin-top: 0;
    margin-left: -70px !important;
    color: transparent !important;
}

.logocontainer {
    background-image: url('img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 175px;
    margin-top: 0;
    margin-left: -50px !important;
    color: transparent !important;
}

    .logocontainer img {
        
        margin-left: -50px !important;
        margin-top: -9px !important;
    }

.footercontainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 175px;
    padding-top: 45px;
}

.maincontent {
    position: relative;
    top: 80px;
}

.topbarbg {
    background-image: url('img/topcloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 110px;
}

.bottombarbg {
    background-image: url('img/bottomcloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100px;
    z-index: 5;
}

.pagecount {
}


/*Override Bootstrap Styles*/
/*=====================================================================================================*/
/*Hesham*/
.topbarbg {
    direction: ltr;
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
.navbar-nav {
    float: left;
}
/*=====================================================================================================*/
.navbar-nav {
    margin: 0px;
}

.nav li a {
    color: #19cfdb;
    font-weight: bold;
    font-size: 24px;
}

.admin-nav li a {
    color: #19cfdb;
    font-weight: bold;
    font-size: 20px;
}

.in .nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

.in .navbar-nav {
    background-color: #FFFFFF;
    padding: 20px 10px;
}

.nav li.active a {
    color: #f01c49;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none;
}

.field-validation-error {
    position: absolute;
    top: -12px;
    right: 15px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: rgba(255, 192, 202, 1);
    color: black;
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
}
.field-validation-error img {
    position: absolute;
    top: 0;
    left: 0;
}
.table {
    margin-bottom: 10px;
}

ul.pagination {
    margin: 10px 0px;
}
/*Override Bootstrap Styles End*/

.content-bg {
    height: 500px;
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;
    background-image: url("img/largecontentbg-shadowed.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.content-bg *:not(.mandatory-block):not(.mandatory):not(.text-left):not(.field-validation-error):not(.bad-login), .white-bg * {
    font-size: 24px!important;
}
.content-bg p, .content-bg h1 {
    margin: 0;
}
.content-bg img {
    width: 100%;
}
.content-bg a {
    color: black;
}
.degp-badge {
    position: absolute;
    width: 130px;
    left: 140px;
    top: -45px;
    background: none;
    z-index: 7;
}
    .degp-badge img {
        width: 100%;
    }
.white-bg {
    margin-bottom: 50px;
    padding: 30px 0 30px 0;
    background: white;
    border-radius: 10px;
}

.cp-table {
}

    .cp-table th, .cp-table td {
        padding: 20px;
        border: 3px dotted;
    }

.coupons {
    height: 66px;
    padding: 0;
}

.coupons-img {
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.coupons-input {
    position: absolute;
    padding: 0;
}

    .coupons-input input {
        padding-left: 20%;
    }

.mycoupons {
    background: #f01c49;
}

.mycoupons-img {
    background: #c0163a;
    background-image: url("img/mycoupons.png");
}

.addcoupons {
    background: #19cfdb;
}

.addcoupons-img {
    background: #14a6af;
    background-image: url("img/addcoupons.png");
}

.or-div {
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 3px dashed;
}

    .or-div h1 {
        display: inline-block;
        font-weight: 100;
        position: relative;
        top: -5px;
        background: #fff;
        padding: 0 12px;
    }

.voucher {
    margin-top: 20px;
    background: #ffde2d;
    border: 3px dashed;
    overflow: hidden;
}

.voucherimg {
    margin: -40px -150px;
    opacity: 0.7;
}

.voucher-txt {
    padding: 0;
    text-align: center;
    color: black;
}

.about-txt {
    float: left;
}

.black-lnk {
    color: black;
}

/*Portrait Tablet and Mobile*/
@media (max-width: 1023px) {

    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: #FFDE2D;
        background-image: url('img/bgmobile.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logocontainer {
        background-image: url('img/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 80px;
        width: 170px;
        margin: 10px !important;
        color: transparent !important;
    }

    .navbar-toggle {
        background-color: white;
        top: 25px;
    }

        .navbar-toggle span {
            background-color: black;
        }
.footercontainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding-top: 15px;
}


    .maincontent {
        top: 50px;
    }

    .topbarbg {
        background: none;
        background-color: #FFFFFF;
        background-position: bottom;
        height: 100px;
        width: 100%;
    }

    .bottombarbg {
        background: none;
        background-color: #FFFFFF;
        background-position: bottom;
        height: 50px;
        width: 100%;
    }
}

.footer-contents {
    display: inline-block;
}
.footer-contents img {
    width: 130px;
}
.footer-content {
    float: left;
    margin-left: 65px;
}
.footer-content:nth-child(2) {
    margin-top: 15px;
}
.notice {
    position: fixed;
    right: 0;
    bottom: -8px;
    text-align: right;
    line-height: 16px;
}

/*auto complete styling*/
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
    .autocomplete-suggestion :hover {
        color: #ffffff;
        outline: none;
        background-color: #96B202;
    }
.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }
/*auto complete styling end*/
@media (max-width: 769px) {
    .content-bg {
        height: auto;
        margin-top: 15px;
        margin-bottom: 65px;
        padding-bottom: 20px;
        font-size: 25px!important;
        background: white;
    }

    .white-bg {
        margin-top: 15px !important;
        margin-bottom: 50px;
        padding: 0 0 15px 0 !important;
    }

    .degp-badge {
        position: absolute !important;
        left: -13px !important;
        top: -15px !important;
    }

        .degp-badge img {
            width: 50px;
        }
}

@media (max-width: 768px) {
    .cp-table th, .cp-table td {
        padding: 6px;
    }

    .cp-table th {
        font-size: 20px;
    }

    .cp-table td {
        font-size: 14px;
    }
}